.coffee-page__inner {
  background: url("../../assets/bg-second.jpg") no-repeat;
  background-size: cover;
}
.coffee-page__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
}
